extends layout

block content
  .container.video-list-container
    .row
      .col-sm 
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频
      .col-sm
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频
      .col-sm
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频

    .row
      .col-sm 
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频
      .col-sm
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频
      .col-sm
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频

    .row
      .col-sm 
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频
      .col-sm
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频
      .col-sm
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频

    .row
      .col-sm 
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频
      .col-sm
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频
      .col-sm
        div.video-list-item
          a(href="/video/abc")
            img.img-fluid(src='http://p8vass6bb.bkt.clouddn.com/Video%20Of%20People%20Walking.mp4?vframe/jpg/offset/7/w/480')
            div.video-title 测试视频

