body {

}

a {

}

.video-list-container {
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
}
.video-list-item {
  padding: 10px;
}
.video-title {
  padding-left: 10px;
}